
@media(max-width:576px){
.efectoPresentation{
  background-image: url('../assets/images/movile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}
#efectoMovile{
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40%;
  margin-left: 19%;
  width: 235px;
  position: absolute;
}

 

}

body {
  font-family: 'Cantarell', sans-serif;
  color: white;
}

nav {
  background-color:#705041;
  position: relative;
  border: none;
  position: fixed;
  z-index: 1000;
}

nav ul  a {
  letter-spacing: 1.8px;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
  color:whitesmoke;
  
}
nav ul{
  margin-right: 5%;
}
nav .brand-logo{
  color: whitesmoke;
  margin-left: 5%;
  font-family: 'Gabriela', serif;
  color: rgb(240, 160, 173)
}
.menu:hover {
  background-color: rgb(240, 160, 173);

}
.imgLogo{
  width: 20%;
}
/* SECCION INICIAL*/
 
.efectoPresentation{
  margin-top: 0%;
  height: 100vh;
  background: linear-gradient(135deg, #505052bf 0%,  rgba(173, 168, 169, 0.75) 100%), url('../assets/images/room.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
}
   

  /*fin*/

 /*EFECTO*/

#efecto {
  font-family: 'Cantarell', sans-serif;
  color:white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
  width: 500px;
  margin-left: 5%;
  margin-bottom: 80px;
  
}
    

/*SOBRE MI */

.circle{
  margin-top: 10%;
  
  box-shadow:6px 4px 6px rgb(240, 160, 173);
}
.aboutMe{
  margin-top:80px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 700;
  letter-spacing: 0.7rem;
   
}
.aboutMeDescription{
  margin-top:-67%;
  font-weight: 400;
  color: rgb(24, 23, 24);
  text-align: justify;
  font-size: 40px;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 10%;
  margin-bottom: 0%;

}



.paragraphMovile{
  color: rgba(0, 0, 0, 0.76);
  text-align: justify;
}
.section .line {
  color: rgb(240, 160, 173);
  display: inline-block;
  height: 2px;
  content: " ";
  margin-top: 5px;
  background-color: rgb(240, 160, 173);
  
 }
 
 
/*FIN SECCION SOBRE MI*/


/*SKILLS*/
.skillSection{ 
  height: 90vh;
  margin-top: 10%;  
  background:#D6AA8B;   
}
.skills img{
  width: 240px;
  height: 150px;
}

#skillInformation{
  color: rgba(0, 0, 0, 0.76);
  font-weight: 700;
  letter-spacing: 0.7rem;
  margin-top: 80px;

  }
  /*movile skills*/
.row .col.s4.list {
  border:5px solid rgb(240, 160, 173);
  width: 39.333333%;
  padding: 3%;
  margin: 5%;
  border-radius: 41%;
  margin-top: 10%;
  box-shadow:5px 2px 7px rgb(240, 160, 173);
  
 }
.row .col.s4:hover{
  background-color: gray;
 
 }
span{
  margin-left: 20%;
  font-size: 16px;
 }
 /* secccion de portafolio */
 

.light{
  margin-top: 80px;
  color: rgb(240, 160, 173);
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.cinela{
  width: 307.27px;
  height: 204.64px;
}
 .card{
  margin:5%;
   -webkit-box-shadow: 4px 4px 18px 3px rgba(65, 2, 65, 0.4);
  -moz-box-shadow: 4px 4px 18px 3px rgba(65, 2, 65, 0.4);
  box-shadow: 4px 4px 18px 3px rgba(65, 2, 65, 0.4);
  

}
.contCard{
  margin-top: 100px;
  margin-bottom: 80px;
}
.cardButton{
  width: 200px;
  height: 40px;
  border-radius: 5%;
  border:1px solid rgb(126, 19, 126);
  background:rgb(240, 160, 173);
  cursor: pointer;
  position: absolute;  
  text-align: center;
  margin-top: -20%;
  margin-left: 4%;
}
.cardButton a{
  color:rgb(126, 19, 126);
  font-weight: 400;
}
.cardButton{
  background-color: rgb(240, 160, 173);
}
.cardButton:hover{
  background-color: transparent;
  border: none;
}
.cardButton a:hover{
  color:rgb(240, 160, 173);
  border: none;
  font-size: 20px;
}
.card-image img{
  width: 219.64px;
  height: 200px
}
.informationWeb{
  text-align: justify;
}

 /*SECCION DE CONTACTO*/
.contactMe{
  color: rgb(240, 160, 173);
  font-weight: 700;
  letter-spacing: 0.7rem;
}
.lg{
  width: 100px;
  height: 40px;
  border-radius: 10%;
  background: rgb(240, 160, 173);
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  color: rgb(126, 19, 126);
  text-align: center;
    
  }
.lg:hover{
  background-color: rgb(126, 19, 126);
  color: rgb(240, 160, 173);
}

/*FOOTER*/
.page-footer{
  background-color:#9D4A20;
}
.text{
  color:wheat;
  font-size: 24px;
}
.phrase{
  margin-top: 30px;
}
 .fa {
  font-size: 40px;
  color: white;
  margin-top: 8%;
}

 .fa:hover {  
  color: #80cbc4;    
  -moz-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  -o-transform: scale(2.2);
  -ms-transform: scale(2.2);
  transform: scale(2.2);
  margin-top:8%;
}
