@media(max-width: 600px){

  .paragraphMovile{
    padding: 3vh;
  }
  .aboutme{
    height: 25vh;
  }
  .portfolioTitle{
    height: 25vh;
  }
  .card-action .btn{
    width: 20vh;
    
  }
  
}
body {
  font-family: 'Rubik', sans-serif;
  color: white;
}

nav {
  background-color:turquoise;
  position: relative;
  position: fixed;
  z-index: 1000;
}

nav ul  a {
  letter-spacing: 1.8px;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
  color:blac;
  
}
nav ul{
  margin-right: 5%;
}
nav .brand-logo{
  color: white;
  margin-left: 5%;
  letter-spacing: 2vh;
  font-family: 'Gabriela', serif;
}
nav .brand-logo:hover{
  color: #edf376;
  
}

nav ul a:hover {
  background-color:#edf376;
  background-size: cover;
  font-size: 20px;
  color:#000000ad;  
}

.imgLogo{
  width: 20%;
}
/* SECCION INICIAL*/
 
.efectoPresentation{

  /* background: linear-gradient(135deg, #505052bf 0%,  rgba(173, 168, 169, 0.75) 100%), */
  background-image: url('../assets/images/skillsSection.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.containerEfecto{
  position: absolute;
  top: 0px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.35);
  height: 100vh;
  
}

  /*fin*/

 /*EFECTO*/

#efecto {
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-top: 285px;
    
}

#efectoMovile{
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-top: 40vh;
}

/*titulos de  seccion*/ 
 h4.titleSection{
  margin-top: 0%;
}

/*SOBRE MI */

 .developer{
  margin-top: 5%;
  
} 

/*Texto con efecto de linea hover*/
* {margin:0;padding:0;border:0 none;position: relative; outline: none;
}

.aboutme {
  
  width: 100%;
  min-height: 200px;
  line-height: 200px;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  
  margin: 3rem auto 0;
}
.uno {background: black;}


.aboutme > a{
  text-decoration: none;
  color: #000000b6;
  z-index: 1;
}

.aboutme > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #edf376;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.aboutme > a:hover:before,
.aboutme > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/*fin de  efecto hover */


.aboutMeDescription{
 
  font-weight: 400;
  color: rgb(24, 23, 24);
  text-align: justify;
  font-size: 44px;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 10%;
}
.developer{
  margin-top: 0%;
}

.paragraphMovile{
  color: rgba(0, 0, 0, 0.76);
  text-align: justify;
}

 
/*FIN SECCION SOBRE MI*/


/*SKILLS*/
.skillSection{ 
  background-image:url('../assets/images/portada.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 10%;  
  
}


.coverColor{

  position: absolute;
  top: 0px;
  width: 100%;
  background-color:#0a0a0ab3;
  height: 100vh;



}

/*efecto de  subrayado en  skills*/
 
  /* * {margin:0;padding:0;border:0 none;position: relative; outline: none;
  } */
  
  .skillsTitle {
    
    width: 100%;
    min-height: 200px;
    line-height: 200px;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    
    margin: 3rem auto 0;
  }
  /* .uno {background: black;}
   */
  
  .skillsTitle > a{
    text-decoration: none;
    color: white;
    /* z-index: 1; */
  }
  
  .skillsTitle> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #edf376;

    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  .skillsTitle > a:hover:before,
  .skillsTitle > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
/*fin de  section hover skills*/

    
  
  .amg-badge h3 {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
  }
  

  


.SectionLogoSkills{
  margin-top: 30vh;
  display: flex;
}

.SectionLogoSkillsSecond{
  margin-top: 10vh;
  display: flex;
}

.imagesSkills{
  width: 12vh;
   margin-top:0%;
  
}
.SectionLogoSkillsSecond  img{
  width: 20vh;

 
 }

.textSkills{
  display:block;
  text-align: center
}
/*fin de skills*/


 /* secccion de portafolio */


 
/*Texto con efecto de linea hover*/

.portfolioTitle {
  
  width: 100%;
  min-height: 200px;
  line-height: 200px;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  
  margin: 3rem auto 0;
}
.uno {background: black;}


.portfolioTitle > a{
  text-decoration: none;
  color: #000000b6;
  z-index: 1;
}

.portfolioTitle > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #edf376;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.portfolioTitle > a:hover:before,
.portfolioTitle > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
div.card-content{
  color: black;
  text-align: justify;
}

/*fin de  efecto hover */
 
.waves-effect{
  margin-left: 1vh;
}
/* .btn:hover {
  
  background: #edf376;
  color: rgba(0, 0, 0, 0.76);

 } */
 .btn:hover {
  
  background: #edf376;
  color: rgba(0, 0, 0, 0.76);
  transition:  2s ;
 }
 
 


/*FOOTER*/
.page-footer{
  background-color:#0a0a0ab3;
}
.text{
  color:turquoise;
  font-size: 24px;
}
.text:hover{
  color:  #edf376;
}
.phrase{
  margin-top: 30px;
  text-align: justify;
}

 .fa {
  
  font-size: 40px;
  color: white;
  margin-top: 8%;
}

.github,.linkedin{
  width: 40px;
}

 .fa:hover {  
  color: #80cbc4;    
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  margin-top:8%;
  
}
/* } */

 